.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 5px;
  border: 1px solid #2bc0c7;
  background: #fff;
  gap: 1rem;
  transition: all 0.3s;
}

.user-card:hover {
  box-shadow: -4px 4px 0 0 #2bc0c7;
}

.user-info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

.user-info-control {
  display: flex;
  gap: 5px;
  align-items: center;
}

.badge {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  padding: 18px;
  font-size: 2rem;
  background: #2bc0c7;
  border-radius: 100px;
  color: #fff;
}
