footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin-top: auto;
}

footer a {
  color: #1e868b;
  margin-top: 5px;
  transition: transform 0.3s;
}
footer a:hover {
  transform: scale(1.2);
}

footer a:visited {
  color: #1e868b;
}
