@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2,
button {
  font-family: "Montserrat", sans-serif;
}

label,
p {
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 10px 16px;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #2bc0c7;
}

.btn-primary:hover {
  background-color: #1e868b;
}

.btn-secondary {
  color: #1e868b;
  border: 2px solid #1e868b;
  background-color: #fff;
}

.btn-secondary:hover {
  background-color: hsl(183, 64%, 95%);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.grid {
  width: 1024px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 6px;
}

.search-icon {
  color: #ccc;
  margin-right: 6px;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
}
